# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log