# Virtual Environment
venv/

# Ignore only the large electricity model
models/electricity_model.pkl

# Python
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# Database files
*.db

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log